SQLAlchemy

git+https://git.direct-netware.de/pas/bus/@v1.0.0#egg=pas-bus
git+https://git.direct-netware.de/pas/crud_engine/@v1.0.0#egg=pas-crud-engine
git+https://git.direct-netware.de/pas/database/@v1.0.0#egg=pas-database
git+https://git.direct-netware.de/pas/timed_tasks/@v1.0.0#egg=pas-timed-tasks

git+https://git.direct-netware.de/dpt/builder_suite/@v1.0.0#egg=dpt-builder-suite
git+https://git.direct-netware.de/dpt/cli/@v1.0.0#egg=dpt-cli
git+https://git.direct-netware.de/dpt/json/@v1.0.0#egg=dpt-json
git+https://git.direct-netware.de/dpt/module_loader/@v1.0.0#egg=dpt-module-loader
git+https://git.direct-netware.de/dpt/plugins/@v1.0.0#egg=dpt-plugins
git+https://git.direct-netware.de/dpt/runtime/@v1.0.1#egg=dpt-runtime
git+https://git.direct-netware.de/dpt/settings/@v1.1.0#egg=dpt-settings
git+https://git.direct-netware.de/dpt/threading/@v1.0.0#egg=dpt-threading
